<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
  	<% include partials/template/header.ejs %>
    
  	<section class="layout">
      <div class="primary">

      <ul class="group">

          <% for (var d=0;d<quadcopters.length;d++){%>
            <h2>Title of the Quadcopter : </h2><%= quadcopters[d].title %>
            <h2>Name of the Quadcopter :</h2><%= quadcopters[d].name %>
            <h2>Max speed of the Quadcopter : </h2><%=quadcopters[d].maxspeed %>
            <h2>Remaining battery percentage : </h2><%=quadcopters[d].batteryremaining %>
            <h2>Description : </h2><%=quadcopters[d].description %> 
            <p>------------------------------------------------------------</p>
          <% } %>
       
      </ul>
        
      </div><!-- primary -->
      <aside class="secondary">
      
          <h2>The Quadcopters list</h2>
          <% for (var d=0;d<quadcopters.length;d++){%>
            <h2></h2><%= quadcopters[d].name %> 
          <% } %>
        
      </aside><!-- secondary -->
    </section><!-- layout -->

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
